#{$all-button-inputs},
a.button,
button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 700;
  line-height: 1;
  padding: 0.75em 1em 0.6em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.success {
    background-color: $success-color;
    &:hover, &:focus {
      background-color: darken($success-color, 15%);
    }
  }

  &.twitter {
    background-color: #55acee;
    &:hover, &:focus {
      background-color: darken(#55acee, 10%);
    }
  }
  &.facebook {
    background-color: #3b5998;
    &:hover, &:focus {
      background-color: darken(#3b5998, 10%);
    }
  }
}
