.panel {
  margin: $base-spacing 0;
  padding: em(18) em(30) em(12);
  background-color: #fff;
  border-left: 4px solid $base-border-color;

  h3, h4 {
    &:first-child {
      margin-top: 0;
      font-size: em(18);
      font-weight: 400;
    }
  }

  &.info {
    border-color: $info-color;
    background-color: mix($info-color, #fff, 10%);
    h3, h4 { color: darken($info-color, 15%); }
  }
  &.success {
    border-color: $success-color;
    background-color: mix($success-color, #fff, 10%);
    h3, h4 { color: $success-color; }
  }
  &.warning {
    border-color: $warning-color;
    background-color: mix($warning-color, #fff, 10%);
    h3, h4 { color: $warning-color; }
  }
}