

.mn-col {
  @include media($medium-screen-up) {
    width: flex-grid(8, 12);
    margin: $base-spacing*2 auto 0;
  }
  .lt-ie9 & {
    width: flex-grid(8, 12);
    margin: $base-spacing*2 auto 0;
  }
}

.mn-body {
  margin-bottom: $base-spacing*2;

  h2 {
    margin-top: $small-spacing;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  svg {
    width: 100px;
    height: 100px;
  }
}

.mn-cta {
  @include media($medium-screen-up) {
    width: flex-grid(7, 12);
    margin: 0 auto;
  }
  .lt-ie9 & {
    width: flex-grid(7, 12);
    margin: 0 auto;
  }
}