.home {
  .panel {
    border: none;
    h3, h4 {
      margin-top: 0.25em;
      span {
        display: inline-block;
        width: 24px;
        height: 24px;
        padding: 4px 0 2px;
        margin-right: 0.25em;
        font-weight: 700;
        line-height: 1em;
        text-align: center;
        border-radius: 12px;
        background-color: $info-color;
        color: #fff;
      }
    }
  }

  .section-title {
    position: relative;
    overflow: visible;
    .icon-chevron {
      position: absolute;
      top: em(68);
      right: 100%;
      margin-right: em(8);
      display: none;
      width: 36px;
      height: 56px;
      fill: desaturate(lighten($action-color, 40%), 35%);
    }
    @include media(min-width 1135px) {
      .icon-chevron {
        display: block;
      }
    }
  }

  .banner + .section {
    border: none;
  }

  .section.screens {
    border-bottom: none;
    background-color: desaturate($action-color, 35%);
    
    &, h2, .subheader {
      font-weight: 400;
      color: #fff;
    }

    .section-title, figcaption {
      border-color: rgba(#fff, 0.35);
    }

    .icon-chevron {
      fill: #fff;
    }


    @include media($large-screen-up) {
      figcaption {
        margin: 0;
        padding: 0;
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
      }
    }
    @include media($x-large-screen-up) {
      figcaption {
        margin: 2em 0 0 1em;
      }
    }
  }
}


.hp-main {
  padding: em(62) 0 em(48);
  overflow: auto;
}



.hp-col {
  @include media($medium-screen-up) {
    @include span-columns(6);
  }
  .lt-ie9 & {
    @include span-columns(6);
  }
}
