---
title:        PushType is a modern, open source CMS for Ruby on Rails
description:  PushType is a modern, open source CMS built for the latest versions of Ruby on Rails and PostgreSQL.
---

<% content_for :banner do %>
  <div class="inner">
    <h1>PushType CMS</h1>
    <h2>PushType is a modern, open source content management system for Ruby on Rails, built around the idea that your job should be made easier by the tools you chose to work with.</h2>
    <div class="cta">
      <a href="/docs/introduction" class="button">Documentation</a>
      <a href="https://discuss.pushtype.org" class="button success">Community</a>
    </div>
  </div>
<% end %>

<div class="main-wide">
  <div class="hp-col">
    <h2>What is PushType?</h2>
    <p>PushType is a new and modern content management system for Ruby and Rails. It takes advantage of powerful new features available in the latest versions of Rails and PostgreSQL, resulting in a fantastically flexible toolset for developers working on any kind of website.</p>
    <p>Underpinning everything PushType aims to be is a philosophy that puts you, the developer first. A core belief behind every design decision we make is that your job should be made easier by the tools you chose to work with.</p>
    <p>PushType has been lovingly developed by Push Code Ltd and now we want to give it to you. We're looking to establish a community of developers who can build upon what we've started and help give the Rails world the CMS it's been waiting for.</p>
  </div>
  <div class="hp-col">
    <h2>Get involved</h2>
    <p>PushType can be used in production projects now (we've been using it on client sites since the beginning of 2015). So give it a go - get started by finding out <a href="/docs/installation">how to install PushType</a>.</p>
    <p>This is a new product and your help is needed. Bugs need to be discovered, pain points need to be identified, and your feedback and feature suggestions are sought after. <a href="#">Join the PushType community</a> and find out how you can help.</p>
    <p>If you've tinkered a bit with PushType and you like what you see, we're hoping to establish a small team of core developers who can help drive the vision forward and turn PushType in to <em>the turn-to</em> Rails CMS. Find out more about becoming a <a href="#">core PushType developer</a>.</p>
  </div>
</div>

