---
title:        PushType is an open source, next generation CMS for Ruby on Rails
description:  Build your website your way. PushType is a next generation, open source content management system for Ruby on Rails.
---

<% content_for :banner do %>
  <div class="inner">
    <h1>PushType - Ruby on Rails CMS</h1>
    <h2>Build your website your way. PushType is a next generation, open source content management system for Ruby on Rails.</h2>
    <div class="cta">
      <a href="/docs/introduction" class="button success">Install</a>
      <a href="https://discuss.pushtype.org/t/pushtype-development-contribution-guidelines/30" class="button">Contribute</a>
    </div>
  </div>
<% end %>

<main>
  <div class="body section">
    <div class="wrap">
      <div class="section-title">
        <svg class="icon-chevron"><use xlink:href="#icon-chevron"></use></svg>
        <h2>Features that give you the freedom you need</h2>
        <p class="subheader">Designed to be as flexible as you need it to be, PushType lets you build your website your way.</p>
      </div>

      <ul class="block-list row">
        <li class="block-item span-6-md span-4-xl cols">
          <h4>Custom content models</h4>
          <p>Fully flexible - if you can think it, you can make it! Define a structured content tree with collections of pages, blog posts, events, book reviews or whatever your site demands.</p>
        </li>
        <li class="block-item span-6-md span-4-xl cols">
          <h4>Advanced custom fields</h4>
          <p>Model your content just how you need it with PushType's built-in collection of custom field types. If you need more, we've made it simple for you to create your own field types.</p>
        </li>
        <li class="block-item span-6-md span-4-xl cols">
          <h4>Media library</h4>
          <p>Upload, store and easily manage any kind of media including images, documents, videos and audio. Various backend storage options available.</p>
        </li>
        <li class="block-item span-6-md span-4-xl cols">
          <h4>Dynamic image manipulation</h4>
          <p>Dynamically resize uploaded images whenever you need to. PushType allows you to to implement responsive images or even advanced creative art direction techniques.</p>
        </li>
        <li class="block-item span-6-md span-4-xl cols">
          <h4>Easy to use Admin UI</h4>
          <p>The clean and uncluttered admin interface is simple to use and gives website owners the tools they need to manage what matters most - the content - with no distractions.</p>
        </li>
        <li class="block-item span-6-md span-4-xl cols">
          <h4>Extendable</h4>
          <p>Powered by <strong>the</strong> greatest web application framework, and backed by the quality Ruby eco-system. PushType knows when to get out of your way and let you do the coding.</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="body section screens">
    <div class="wrap">
      <div class="section-title">
        <svg class="icon-chevron"><use xlink:href="#icon-chevron"></use></svg>
        <h2>A CMS that enables rather than obstructs</h2>
        <p class="subheader">PushType is a modern content management system designed to make the developer's job easier.</p>
      </div>

      <figure>
        <img src="/assets/hp-screens.png" alt="PushType is a modern content management system for Ruby on Rails.">
        <figcaption>PushType is a modern content management system for Ruby on Rails. It takes advantage of powerful new features available in the latest versions of Rails and PostgreSQL, delivering a fantastically flexible toolset for developers working on any kind of website.</figcaption>
      </figure>
    </div>
  </div>

  <div class="body section">
    <div class="wrap">
      <div class="section-title">
        <svg class="icon-chevron"><use xlink:href="#icon-chevron"></use></svg>
        <h2>PushType for everyone</h2>
        <p class="subheader">If you care about Ruby, learning and diversity read <a href="/manifesto">our manifesto</a> and join the <a href="https://discuss.pushtype.org">PushType community</a>. </p>
      </div>

      <ul class="block-list row">
        <li class="block-item span-6-md span-4-xl cols">
          <h4>Designed for developers</h4>
          <p>PushType puts you, the developer first and every design decision has been made to optimise for programmer happiness. Building websites should be as pain-free as possible.</p>
        </li>
        <li class="block-item span-6-md span-4-xl cols">
          <h4>We ❤ Ruby</h4>
          <p>PushType is no black box - you're encouraged to hack, tinker and experiment with code. Everyone benefits from a healthy Ruby eco-system and we want to encourage others to learn Rails.</p>
        </li>
        <li class="block-item span-6-md span-4-xl cols">
          <h4>Supporting open-source</h4>
          <p>PushType is licensed under the MIT license. You are free to change, modify and use it as you want. Help us to found our community and shape PushType with your code and ideas. </p>
        </li>
      </ul>
    </div>
  </div>

  <div class="body section">
    <div class="wrap">
      <div class="section-title">
        <svg class="icon-chevron"><use xlink:href="#icon-chevron"></use></svg>
        <h2>Get involved and get going</h2>
        <p class="subheader">If PushType sounds like the CMS you've been waiting for let's get going!</p>
      </div>

      <div class="row">
        <div class="span-4-md cols">
          <div class="panel info">
            <h4><span>1</span> Install PushType</h4>
            <p>Get started by finding out <a href="/docs/installation">how to install PushType</a>.</p>
          </div>
        </div>
        <div class="span-4-md cols">
          <div class="panel info">
            <h4><span>2</span> Join the community</h4>
            <p>Help make PushType work better for you. <a href="https://discuss.pushtype.org/">Join the PushType community</a>.</p>
          </div>
        </div>
        <div class="span-4-md cols">
          <div class="panel info">
            <h4><span>3</span> Contribute to PushType</h4>
            <p>Build on what we've started. Find out about <a href="https://discuss.pushtype.org/t/pushtype-development-contribution-guidelines/30">contributing to PushType</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<svg style="display:none;">
  <symbol id="icon-chevron" viewBox="0 0 24 24" preserveAspectRatio="none">
    <g>
      <path d="M5.501,24c-0.284,0-0.566-0.12-0.764-0.354c-0.357-0.421-0.304-1.052,0.117-1.409L16.952,12L4.854,1.764 C4.433,1.406,4.38,0.775,4.737,0.354c0.356-0.423,0.987-0.474,1.409-0.118l13,11c0.225,0.19,0.354,0.47,0.354,0.764 s-0.129,0.573-0.354,0.764l-13,11C5.958,23.922,5.728,24,5.501,24z"/>
    </g>
  </symbol>
</svg>