---
title:        PushType is an open source, next generation CMS for Ruby on Rails
description:  Releasing the power of Ruby on Rails. PushType is a next generation, open source CMS for Ruby on Rails.
---

<% content_for :banner do %>
  <div class="inner">
    <h1>PushType CMS</h1>
    <h2>Releasing the power of Ruby on Rails<br>A new generation of content management system</h2>
    <div class="cta">
      <a href="/docs/introduction" class="button">Documentation</a>
      <a href="https://discuss.pushtype.org" class="button success">Community</a>
    </div>
  </div>
<% end %>

<div class="hp-col">
  <h2>What is PushType?</h2>
  <p>PushType is a modern content management system for Ruby on Rails. It takes advantage of powerful new features available in the latest versions of Rails and PostgreSQL, delivering a fantastically flexible toolset for developers working on any kind of website.</p>
  <p>As a developer, PushType is designed for you. PushType puts the developer first and every design decision has been made so that your job is made easier.</p>
  <p>PushType has been lovingly developed by Push Code Ltd and now we are giving it to you. PushType is 100% free and open source. <a href="/manifesto">Please support the PushType manifesto</a>.</p>
</div>

<div class="hp-col ie-end">
  <h2>Get involved</h2>
  <p>PushType can be used in production projects now (we've been using it on client sites since the beginning of 2015). So give it a go - get started by finding out <a href="/docs/installation">how to install PushType</a>.</p>
  <p>Now we need you. Help us to find bugs, identify the pain points and suggest features that will make PushType work better for you. <a href="https://discuss.pushtype.org/t/welcome-to-the-pushtype-community/8">Join the PushType community</a> and find out how you can help.</p>
  <p>We want to establish an active and healthy community of developers who can build upon what we've started and help give the Rails world the CMS it's been waiting for. Find out more about <a href="https://discuss.pushtype.org/t/pushtype-development-contribution-guidelines/30">contributing to PushType</a>.</p>
</div>