---
title:        Support the PushType manifesto
description:  The PushType mission is to inspire a new generation of Ruby developers with a new generation of content management system.
open_graph:
  title:        I support the PushType manifesto
  description:  The PushType mission is to inspire a new generation of Ruby developers with a new generation of content management system.
  image:        http://www.pushtype.org/assets/mn-share.jpg
  site_name:    PushType
---

<% content_for :banner do %>
  <div class="inner">
    <h1>PushType manifesto</h1>
    <h2>The PushType mission is to inspire a new generation of Ruby developers with a new generation of content management system.</h2>
  </div>
<% end %>

<div class="row">
  <div class="hp-col">
    <h2>We are makers</h2>
    <p>Be creative and embrace your ideas. Think big, start small.<br>Be a hacker and a fixer. Obsessively improve things.</p>
    <h2>We are discoverers</h2>
    <p>Do the things you've never done. Seek different ways.<br>Don't be afraid to fail. Never stop learning.</p>
    <h2>We are different</h2>
    <p>Be the crazy one. Nurture your curiosity.<br>Believe in yourself. Don't assume others are never wrong.</p>
  </div>

  <div class="hp-col">
    <h2>We are community</h2>
    <p>Embrace our diversity and never discriminate.<br>Reach out and participate. Share your ideas, enthusiasm and skills.<br>Support one another, be friendly and have fun.</p>
    <h2>We are Rubyists</h2>
    <p>Enjoy programming. Write beautiful code. Strive to be happy.</p>
    <h2>We are PushType</h2>
    <p>Lets build wonderful things!</p>
  </div>
</div>

<div class="mn-cta">
  <div class="panel callout success">
    <h3>Support the PushType manifesto</h3>
    <p>Show <strong>your support</strong> by sharing the PushType manifesto:</p>
    <p>
      <a href="<%= share_manifesto_link :twitter %>" target="_blank" class="button twitter"><%= ficon :social_twitter, 'Tweet the manifesto' %></a>
      &nbsp;or&nbsp;
      <a href="<%= share_manifesto_link :facebook %>" target="_blank" class="button facebook"><%= ficon :social_facebook, 'Share the manifesto' %></a>
    </p>
  </div>

  <p>Version: 1.0</p>
</div>


  


