@charset 'utf-8';

/**
 * Title:
 *    Defaults
 * Description:
 *    Base styles for the project.
 * Sections:
 *    - $. Defaults
 *
 * ================================================== */



/**
 * $. Defaults
 * -------------------------------------------------- */

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $base-font-color;
  background-color: $base-background-color;
}

iframe {
  display: block;
}

