@charset 'utf-8';

/**
 * Title:
 *   Typography
 * Description:
 *   Styles for headers and all typographic elements
 * Sections:
 *    $. Headers
 *    $. Block elements
 *    $. Inline elements
 *    $. Links
 *
 * ================================================== */


/**
 * $. Headers
 * -------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  font-weight: 300;
  margin: $base-spacing 0 $small-spacing/2;
}

h1 {
  font-size: em(44);
  .page-title & {
    margin: 0 0 $small-spacing/6;
  }
}

h2 {
  font-size: em(27);
}

h3 {
  font-size: em(24);
}

h4 {
  font-size: em(21);
}

h5 {
  font-size: em(18);
}

h6 {
  font-size: 1em;
}

.page-title, .section-title {
  padding: em(24) 0 em(12);
  margin-bottom: em(28);
  border-bottom: 1px dotted $base-border-color;
}

.subheader {
  font-size: em(18);
  line-height: 1.4;
  font-style: italic;
  color: $medium-gray;
  margin: 0;
}


/**
 * $. Block elements
 * -------------------------------------------------- */

p {
  margin: 0 0 $small-spacing;

  .copy & {
    font-size: em(13);
    font-weight: 400;
    text-align: center;
    color: $medium-gray;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .mn-body & {
    font-size: em(21);
  }
}

pre, code {
  font-family: $mono-font-family;
  font-weight: 400;
}

pre {
  margin: $base-spacing 0;
  padding: em(10) em(15);
  line-height: 1.3;
  background-color: #272822;
  color: #f8f8f8;
  overflow-x: auto;
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}


/**
 * $. Inline elements
 * -------------------------------------------------- */

strong {
  font-weight: 400;
}

code {
  padding: .2em;
  background-color: darken($lightest-gray, 5%);
  border-radius: 4px;
  pre & {
    padding: 0;
    background-color: transparent;
    border-radius: none;
  }
}


/**
 * $. Links
 * -------------------------------------------------- */

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  img {
    border: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}
