// Typography
$base-font-family: 'Lato', sans-serif;
$heading-font-family: $base-font-family;
$mono-font-family: 'Anonymous Pro', monospace;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #008CBA;
$dark-gray: #222222;
$medium-gray: #666666;
$light-gray: #ddd;
$lightest-gray: #FAFAFA;

$brand-blue: #3BB5EF;

$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);


// Nav items
$main-nav-items: 'docs', 'manifesto', 'comm';
$docs-nav-items: 'introduction', 'installation', 'key-concepts', 'configuration', 'nodes', 'fields';