@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";

@import "components/highlight";
@import "components/flag";
@import "components/foundation-icons";
@import "components/off-canvas";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $base-background-color;
}

main {
  display: block;
  width: 100%;
}

.wrap {
  @include outer-container;
  width: 100%;
  overflow: auto;
}

.row {
  @include row;
}

.header {
  @include position(fixed, 0 0 auto 0);
  @include size(100% 62px);
  z-index: 3;
  padding: 0 $gutter/2;
  border-bottom: 1px solid $base-border-color;
  background-color: rgba($lightest-gray, .95);
  .no-rgba & {
    background-color: $lightest-gray;
  }
}

.logo {
  @include position(absolute);
  padding-top: em(14);
  img {
    max-width: 100%;
    height: auto;
  }
  .logo-lg { display: none; }

  @include media($medium-screen-up) {
    @include position(static);
    @include span-columns(3);
    .logo-sm { display: none; }
    .logo-lg { display: block; }
  }
  .lt-ie9 & {
    @include position(static);
    @include span-columns(3);
    .logo-sm { display: none; }
    .logo-lg { display: block; }
  }
}

.main-nav {
  padding-top: em(18);
  padding-left: em(48);
  margin-right: 0;
  ul {
    display: inline;
    float: left;
    &.utility {
      display: none;
      float: right;
    }
  }
  li {
    display: inline;
    float: left;
    margin-right: 1.5em;
    &:last-child {
      margin-right: 0;
    }
    &.manifesto {
      display: none;
    }
  }
  .utility li {
    margin-right: 1em;
  }
  @include media($medium-screen-up) {
    @include span-columns(9);
    padding-left: 0;
    li {
      margin-right: 2em;
    }
    li.manifesto {
      display: inline;
    }
    ul.utility {
      display: inline;
    }
  }
  .lt-ie9 & {
    @include span-columns(9);
    @include omega;
    padding-left: 0;
    li {
      margin-right: 2em;
    }
    ul.utility {
      display: inline;
    }
  }
}

.body {
  padding: 0 $gutter/2;
  .docs & {
    min-height: 100%;
  }
}


.main {
  padding: em(62) 0 em(48) em(48);

  @include media($medium-screen-up) {
    @include span-columns(9);
    @include shift(3);
    padding-left: 0;
  }
  .lt-ie9 & {
    @include span-columns(9);
    @include shift(3);
    @include omega;
    padding-left: 0;
  }
}

.footer {
  padding: em(48) $gutter/2;
  background-color: #fff;
  border-top: 1px dotted $base-border-color;

  .copy {
    max-width: flex-grid(9, 12);
    margin: 0 auto;
  }
}

.page-title {
  padding: em(24) 0 em(12);
  margin-bottom: em(28);
  border-bottom: 1px dotted $base-border-color;
}

.panel {
  margin: $base-spacing 0;
  padding: em(18) em(30) em(12);
  background-color: #fff;
  border-left: 4px solid $base-border-color;

  &.info {
    border-color: $info-color;
    background-color: mix($info-color, #fff, 10%);
    h3 { color: $info-color; }
  }
  &.success {
    border-color: $success-color;
    background-color: mix($success-color, #fff, 10%);
    h3 { color: $success-color; }
  }
  &.warning {
    border-color: $warning-color;
    background-color: mix($warning-color, #fff, 10%);
    h3 { color: $warning-color; }
  }
}

.hp-main {
  padding: em(62) 0 em(48);
  overflow: auto;
}

.hp-banner {
  padding: $base-spacing $gutter/2;
  margin-bottom: $base-spacing;
  text-align: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    padding: $small-spacing $gutter/2;
    background-color: rgba(#fff, 0.75);
    .no-rgba & {
      background-color: #fff;
    }
  }

  .inner {
    max-width: $medium-screen;
    margin: 0 auto;
  }
  .cta {
    padding-bottom: em(16);
    .button {
      margin: 0 em(4, 24) em(8, 24);
      font-size: em(24);
    }
  }

  .home &       { background-image: url('/assets/hp-banner-sm.jpg'); }
  .manifesto &  { background-image: url('/assets/mn-banner-sm.jpg'); }

  .manifesto & {
    color: #fff;
    h2 {
      background-color: rgba(#fff, 0.25);
    }
  }

  @include media($medium-screen-up) {
    .home &       { background-image: url('/assets/hp-banner-lg.jpg') }
    .manifesto &  { background-image: url('/assets/mn-banner-lg.jpg') }
  }
  .lt-ie9 & {
    .home &       { background-image: url('/assets/hp-banner-lg.jpg') }
    .manifesto &  { background-image: url('/assets/mn-banner-lg.jpg') }
  }
}

.hp-col {
  @include media($medium-screen-up) {
    @include span-columns(6);
  }
  .lt-ie9 & {
    @include span-columns(6);
  }
}

.mn-col {
  @include media($medium-screen-up) {
    width: flex-grid(8, 12);
    margin: $base-spacing*2 auto 0;
  }
  .lt-ie9 & {
    width: flex-grid(8, 12);
    margin: $base-spacing*2 auto 0;
  }
}

.mn-body {
  margin-bottom: $base-spacing*2;
  svg {
    width: 100px;
    height: 100px;
  }
}

.mn-cta {
  @include media($medium-screen-up) {
    width: flex-grid(7, 12);
    margin: 0 auto;
  }
  .lt-ie9 & {
    width: flex-grid(7, 12);
    margin: 0 auto;
  }
}

#discourse-comments {
  margin-top: $base-spacing*2;
  padding-top: $base-spacing;
  border-top: 1px dotted $base-border-color;
}

.ie-end {
  margin-right: 0 !important;
}
