@charset 'utf-8';

/**
 * Title:
 *   www.pushtype.org stylesheet
 * Description:
 *   The main application styslesheet for the PushType website.
 * Sections:
 *   - $. Config
 *   - $. Vendor
 *   - $. Base
 *   - $. Components
 *   - $. Pages
 *
 * ================================================== */


/**
 * $. Config - Variables and mixins
 * -------------------------------------------------- */

@import "config/functions";
@import "config/variables";
@import "config/mixins";


/**
 * $. Vendor - External libraries
 * -------------------------------------------------- */

@import "bourbon";
@import "config/grid-settings";
@import "neat";


/**
 * $. Base - Defaults and element styling
 * -------------------------------------------------- */

@import "base/base";
@import "base/typography";
@import "base/lists";
@import "base/tables";
@import "base/forms";
@import "base/media";
@import "base/layout";


/**
 * $. Components - Reusable patterns
 * -------------------------------------------------- */

@import "components/header";
@import "components/footer";
@import "components/main-nav";
@import "components/off-canvas";
@import "components/banner";
@import "components/button";
@import "components/panel";
@import "components/flag";
@import "components/code-highlight";
@import "components/foundation-icons";


/**
 * $. Pages - Page specific patterns and overrides
 * -------------------------------------------------- */

@import "pages/home";
@import "pages/about";
@import "pages/docs";
