@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
$gutter: em(40);
// $grid-columns: 12;
$max-width: em(1060);

// Neat Breakpoints
$medium-screen: em(768);
$large-screen: em(860);
$x-large-screen: em(960);

$medium-screen-up: new-breakpoint(min-width $medium-screen);
$large-screen-up: new-breakpoint(min-width $large-screen);
$x-large-screen-up: new-breakpoint(min-width $x-large-screen);
